//GOOGLE FONT IMPORT
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

//FONT FAMILY
$primary-font: 'Open Sans', sans-serif;

//COLOR SCHEME
$middleBlue: #81D2E1;
$deepKoamaru: #2C4875;
$salmon: #FEA3A8;
$sunny: #FFF376;
$floralWhite: #FDF9ED;
