//GOOGLE FONT IMPORT
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Playfair+Display&display=swap');
//FONT FAMILY
$primary-font:'Playfair Dispaly', serif;
$secondary-font: 'Open Sans', sans-serif;

//COLOR SCHEME
$purple: #C2C4E8;
$purpleOverlay: #111249;
$green: #309BA0;
$greenOverlay:#0C4961;
$textWhite: #ffffff;
$textGray: #070707;