.wrapper {
    font-family: $secondary-font;
    display: flex;
    align-items: stretch;
    
        #sidebar {
            background-color: $purple;
            min-width: 250px;
            max-width: 250px;
            height: 100vh;
            z-index: 999;
            color: #fff;
            transition: all 0.3s;
            &.active {
                margin-left: -250px;
            }
    
            .sidebar-header{
                h3{
                    font-family: $secondary-font;
                    font-size: 1.25em;
                    margin: 0 auto;
                    padding-bottom: 0px;
                }
                a{
                    .sidebarLogo{
                        width: 100px;
                        margin: 0 auto;
                    }
                    padding: 0px;
                }
                margin-bottom: 50px;
                padding: 10px;
            }
    
    
            a{
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                transition: all 0.3s;
                padding: 10px 10px 10px 15px;
                font-size: 1.1em;
                display:block;
               &[data-toggle="collapse"] {
                    position: relative;
                }
                &.dropdown-toggle::after{
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 200px;
                    transform: translateY(-50%);
                }
            }
            li{
                &:hover{
                    color: #fff;
                    background-color: #7386d5;
                }
                &.active{
                    a{
                        color: #fff;
                        background: #6d7fcc;
                    }
                }
            }
            
        }
        //end of sidebar
        ul ul a{
            font-size: 0.9em !important;
            padding: 10px 0px 10px 30px !important;
            letter-spacing: 0px;
            text-transform: none !important;
            background-color: $purple !important;
        }
        ul ul li{
            &:hover{
                background-color: #6D7FCC;
            }
        }
    
        //end of page content
        #content{
            padding: 10px;
            min-height: 100vh;
            transition: all 0.3s;
            top: 0;
            right: 0;
    
            &.active{
                width: 100%;
            }
    
            //Project Wrapper
            .project-wrapper{
                margin: 1% auto 5% auto;
               .project{
                   text-align:center;
                .project-img{
                    width: 80%;
                }
    
                .project-title{
                    font-weight: $bold;
                    letter-spacing:2px;
                    margin-top: 3%;
                    text-transform: uppercase;
                    font-size: 1.5em;
                }
               }
    
            }
        }
    }
    
    //end of wrapper
    
    //Small Sizes
    @media (max-width: 576px){
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #content {
            width: 100%;
        }
        #content.active {
            width: calc(100% - 250px);
        }
        #sidebarCollapse span {
            display: none;
        }
        .project-wrapper{
            padding-top: 5%;
            .project{
                .project-img{
                    width: 95% !important;
                }
                .project-title{
                    font-size: 1em !important;
                    letter-spacing: 1px !important;
                }
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767.98px){
        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        #content {
            width: 100%;
        }
        #content.active {
            width: calc(100% - 250px);
        }
        #sidebarCollapse span {
            display: none;
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px){
        .project-wrapper{
            padding-top: 3%;
            .project{
                .project-img{
                    width: 80% !important;
                    
                }
                .project-title{
                    font-size: 1.25em !important;
                    margin-top: 1% !important;
                    letter-spacing: 1px !important;
                }
            }
        }
    }
//Medium
    @media (min-width: 992px) and (max-width: 1199.98px){
        .project-wrapper{
            padding-top: 3%;
            .project{
                .project-img{
                    width: 80% !important;
                    
                }
                .project-title{
                    font-size: 1.25em !important;
                    margin-top: 1% !important;
                    letter-spacing: 1px !important;
                }
            }
        }
    }