@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./general";

@import "./variables";


@import './newsletter/imageSide';

@import './newsletter/rightSide';

@import './main';

@import './countdown/_imageSide.scss';
@import './countdown/_rightSide.scss';


html {font-size: 100%; padding: 0px;
    margin: 0px;} /*16px*/

body{
    font-family: $primary-font;
    font-weight: $regular;
    line-height: 1.65;
    padding: 0px;
    margin: 0px;
    color: #000;
}

