#countdown{
    .image-wrapper{
        background-image: url(../img/i-love-how-the-skyline-is-as-big-as-the-dreams-of-my-fellow-chicagoans_t20_LA4pbK.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0px;
        margin: 0px;
        height: 100vh;
    }
    
}