
#newsletter{
    .image-wrapper{
        background-image: url(../img/vinicius-wiesehofer-2Kt6Ipqrx6Y-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0px;
        margin: 0px;
        height: 100vh;
    }
    
}