#main{
    .project-wrapper{
        background-image: none;
        padding: 7%;
        margin: 0px;

   
        .project{
            margin-bottom: 5%;
            img{
                width: 400px;
                margin-bottom: 15px;
                box-shadow: 0px 10px 30px rgba(0,0,0,0.16);
            }
            .project-title{
                font-family: $secondary-font;
                font-size: 22px;
                color: #309BA0;
                font-weight: $regular;
                padding: 0px;
                margin: 0px;
            }
        }
    }
}
